@page
@model StudentsEducation.Web.Areas.Admin.Pages.Teachers_Schedules.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<h2>Преподаватели: </h2>
@foreach(var teach in Model.Teacher)
{
    <p>@teach.Name <a asp-page="Schedule" asp-route-id="@teach.Id">Предметы и расписание</a></p>
}