@page
@using StudentsEducation.Web.Components
@model StudentsEducation.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>




@(await Html.RenderComponentAsync<GroupList>(RenderMode.ServerPrerendered,new { CathedraId = 1, Editable=true}))
