@page
@model Users.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@foreach(var user in Model.Users)
{
    <h3>@user.UserName   @user.Id</h3>
}