@page
@model StudentsEducation.Web.Areas.Admin.Pages.ControlTypes.EditModel

@{
    ViewData["Title"] = "Изменение";
}

<h1>Изменение</h1>

<h4>Тип контроля</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ControlType.ControlName" class="control-label"></label>
                <input asp-for="ControlType.ControlName" class="form-control" />
                <span asp-validation-for="ControlType.ControlName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControlType.LowValue" class="control-label"></label>
                <input asp-for="ControlType.LowValue" class="form-control" />
                <span asp-validation-for="ControlType.LowValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControlType.HighValue" class="control-label"></label>
                <input asp-for="ControlType.HighValue" class="form-control" />
                <span asp-validation-for="ControlType.HighValue" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ControlType.Id" />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться к списку Типов контроля</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
