@page
@model StudentsEducation.Web.Areas.Admin.Pages.AdminPanelModel
@{
    Layout = "_Layout";
    ViewData["Title"]="Панель Администарции";
}

<h1>@ViewData["Title"]</h1>

<h2>Список доступных данных для изменения:</h2>
@{
    foreach (var elem in Model.PageAndName)
    {
        <div class="card">
            <div class="card-body">
                <div class="card-text">
                    <a asp-page="@elem.Key">@elem.Value</a>
                </div>
            </div>
        </div>
    }
}
