@page
@model StudentsEducation.Web.Areas.Admin.Pages.IndexModel
@{
    Layout = "_Layout";
}

<h1>Administration panel</h1>

<h2>GO to:</h2>
@{ 
    foreach(var elem in Model.PageAndName)
    {
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <a asp-page="@elem.Key">@elem.Value</a>
            </div>
        </div>
    </div>
    }
} 
