@page
@model StudentsEducation.Web.Areas.Admin.Pages.IndexModel
@{
    Layout = "_Layout";
}

<h1>Administration panel</h1>

<h2>GO to:</h2>
<div class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-page="Students/Index">Студенты</a>
</div>
<div class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-page="Users/Index">Пользователи</a>
</div>

@{ 
    Dictionary<string, string> pageAndName = new Dictionary<string, string>();
    pageAndName.Add("./Users/Index", "User");
    pageAndName.Add("./Roles/Index", "Roles");

    pageAndName.Add("./Students/Index", "Students");
    // pageAndName.Add("./Users/Index", "User");
    // pageAndName.Add("./Users/Index", "User");
    //pageAndName.Add("./Users/Index", "User");
    // pageAndName.Add("./Users/Index", "User");
    //pageAndName.Add("./Users/Index", "User");
    foreach(var elem in pageAndName)
    {
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <a asp-page="@elem.Key">@elem.Value</a>
            </div>
        </div>
    </div>
    }
} 
