@page
@model StudentsEducation.Web.Areas.Identity.Pages.Account.RegistrationChooseModel
@{
    ViewData["Title"] = "RegistrationChoose";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>RegistrationChoose</h1>

<form method="post">
    <select id="Role">
        <option value="Admin" >Admin</option>
        <option value="Student" >Student</option>
        <option value="Teacher" >Teacher</option>
    </select>
    <input id="SubmitButton" type="submit" value="submit" />
</form>