@{ 
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>
    Панель преподавателя
</h1>
<div>
    <h4>@ViewData["Teacher"]</h4>
</div>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
    @RenderSection("BodyTables",false)
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
