@page
@model StudentsEducation.Web.Areas.TeachersPanel.Pages.Students.Skips.CreateModel

@{
    ViewData["Title"] = "Добавление";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Добавить</h1>

<h4>Пропуск</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Skip.Information" class="control-label"></label>
                <input asp-for="Skip.Information" class="form-control" />
                <span asp-validation-for="Skip.Information" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                <input class="form-check-input" asp-for="Skip.IsGood" /> @Html.DisplayNameFor(model => model.Skip.IsGood)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Skip.Date"> (@Model.Schedule.StartsIn.ToShortDateString()-@Model.Schedule.EndsIn.ToShortDateString()) </label>
                <input class="form-control" asp-for="Skip.Date" />
                <span asp-validation-for="Skip.Date" class="text-danger"></span>
            </label>
            </div>
            <input asp-for="Skip.StudentId" class="form-control" type="hidden" />
            <input asp-for="Skip.ScheduleId" type="hidden" class="form-control"/>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-studId="@Model.Skip.StudentId" asp-route-schId="@Model.Skip.ScheduleId">Вернуться к списку пропусков</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
