@page
@model StudentsEducation.Web.Areas.TeachersPanel.Pages.IndexModel
@{
    ViewData["Title"] = "Рейтинги";
}

<h4>@ViewData["Title"]</h4>

<div class="list-group">
    <div class="list-group-item">
dsds
    </div>

</div>