@using StudentsEducation.Infrastructure.Identity.Data

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Обучение студентов</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <base href="~/" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">StudentsEducation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-page="/AdminPanel">Панель администратора</a>
                        </li>
                        @if (User.Identity.IsAuthenticated || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-page="/AdminPanel">Панель администратора</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated || User.IsInRole("Student"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Student" asp-page="/Index">Student</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated || User.IsInRole("Teacher"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Teacher" asp-page="/Index">Teacher</a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <f1ooter class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - StudentsEducation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </f1ooter>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script><!--4.0.0 beta old but works, don't know why-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
