@using Microsoft.AspNetCore.Identity
@using StudentsEducation.Web.Areas.Account.Data;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-white border-right " asp-area="Account" asp-page="/Manage/Index" title="Управление">@UserManager.GetUserName(User)</a>
            </li>
            <li class="nav-item">
                <form method="post" class="form-inline " style="margin-block-end: 0;">
                    <input id="logout" formmethod="post" asp-area="Account" asp-page="/Logout" asp-route-returnUrl="~/Index" value="Выйти" type="submit" class="nav-link btn btn-link text-white " />
                </form>
            </li>
            @if (SignInManager.Context.User.IsInRole("Administrator"))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" id="register" asp-area="Account" asp-page="/Register">Регистрация</a>
                </li>
            }
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-white" id="login" asp-area="Account" asp-page="/Login">Вход</a>
            </li>
        }
    </ul>
