@using Microsoft.AspNetCore.Identity
@using StudentsEducation.Infrastructure.Identity.Data 
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-white " asp-area="Account" asp-page="/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form method="post" id="logoutForm" class="form-inline" asp-area="Account" asp-page="/Logout" asp-route-returnUrl="~/Index">
            <button id="logout" type="submit" class="nav-link btn btn-link text-white ">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" id="register" asp-area="Account" asp-page="/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="login" asp-area="Account" asp-page="/Login">Login</a>
    </li>
}
</ul>
