@page
@model StudentsEducation.Web.Areas.Admin.Pages.Students.Marks.CreateModel

@{
    ViewData["Title"] = "Добавление";
}

<h1>Добавить</h1>

<h4>Оценка</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mark.MarkValue" class="control-label"></label>
                <input asp-for="Mark.MarkValue" class="form-control" />
                <span asp-validation-for="Mark.MarkValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark.DateAdd" class="control-label"></label>
                <input asp-for="Mark.DateAdd" class="form-control" />
                <span asp-validation-for="Mark.DateAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark.DateToPass" class="control-label"></label>
                <input asp-for="Mark.DateToPass" class="form-control" />
                <span asp-validation-for="Mark.DateToPass" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Mark.WasCorrected" /> @Html.DisplayNameFor(model => model.Mark.WasCorrected)
                </label>
            </div>
            <input asp-for="Mark.StudentId" type="hidden" class ="form-control" />
            <div class="form-group">
                <label asp-for="Mark.WorkId" class="control-label"></label>
                <select asp-for="Mark.WorkId" class ="form-control" asp-items="ViewBag.WorkId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-id="@Model.Mark.StudentId">Вернуться к списку оценок</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
