@page
@model StudentsEducation.Web.Areas.Admin.Pages.Subjects_Works.CreateModel

@{
    ViewData["Title"] = "Создание";
}

<h1>Создание</h1>

<h4>Предмет</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject.Name" class="control-label"></label>
                <input asp-for="Subject.Name" class="form-control" />
                <span asp-validation-for="Subject.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.CourseNumber" class="control-label"></label>
                <input asp-for="Subject.CourseNumber" class="form-control" />
                <span asp-validation-for="Subject.CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.ControlType.ControlName" class="control-label"></label>
                <select asp-for="SelectedValue" asp-items=Model.List class="form-control">
                    <option value="" class="shadow">==Выберите тип контроля==</option>
                </select>
                <span asp-validation-for="SelectedValue" class="text-danger"></span>
            </div>
                <input asp-for="Subject.ControlType" hidden="hidden" />
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться к списку Предметов</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
